*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito, sans-serif;
}
body{
  background-color: rgb(239, 237, 238);
}
.box{
  width: 864px;
  background-color: white;
  margin: auto;
  display: flex;
  margin-top: 18vh;
  border-radius: 10px;
}

form{
  min-width: 404px;
  padding: 20px 30px;
  padding-top: 60px;
}
h1{
  color: rgb(85, 49, 28);
  font-weight: 400;
  font-size: 26px;
}
.image{
  background-image: url("https://images.pexels.com/photos/7974/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=600");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 460px;
}

form div{
  display: flex;
  flex-direction: column;
  padding: 10px 10px 8px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
  margin-bottom: 20px;
  transition: all 0.3s ease 0s;
}

input{
  border: none;
  padding-top: 4px;
  outline: none;
}

label{
  color: rgb(140, 117, 105);
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.7px;
}

p{
  font-size: 14px;
  color: rgb(178, 43, 39);
  font-weight: 300;
}

.btnBox{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 0;
}
button{
  padding: 10px 30px;
  outline: none;
  text-transform: uppercase;
  border: 0px;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  background-color: rgb(140, 117, 105);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

button:disabled{
  background: rgb(204, 204, 204);
  cursor: not-allowed;
}

input::placeholder{
  color: lightgrey;
  font-weight: 300;
}